___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

<h2>Beginners notes</h2>

In [1]:
'Shift+Enter'

'Shift+Enter'

In [4]:
'alt + enter to input a cell below'

'alt + enter to input a cell below'

Re-start kernel if sunning infinite while loop...

Help -> keyboard shortuts to see all others

<h3>Creating virtual environments</h3>
https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-with-commands

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4 #exponent

16

In [9]:
4 % 2 #modulus... returns what remains after division

0

In [7]:
5 % 2 #to check is numbers are even

1

In [8]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [9]:
# Can not start with number or special characters
name_of_var = 2

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [40]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Indexing

In [24]:
s = 'hello'

In [31]:
s[0]

'h'

In [33]:
s[3]

'l'

In [36]:
s[1:3] #not inclusive

'el'

In [38]:
s[0:]

'hello'

In [39]:
s[:3]

'hel'

### Lists

In [41]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [42]:
my_list = ['a','b','c']

In [43]:
my_list.append('d')

In [44]:
my_list

['a', 'b', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1]

'b'

In [47]:
my_list[1:]

['b', 'c', 'd']

In [48]:
my_list[:1]

['a']

In [49]:
my_list[0] = 'NEW'

In [50]:
my_list

['NEW', 'b', 'c', 'd']

In [51]:
nest = [1,2,3,[4,5,['target']]]

In [52]:
nest[3]

[4, 5, ['target']]

In [53]:
nest[3][2]

['target']

In [54]:
nest[3][2][0]

'target'

### Dictionaries

In [55]:
d = {'key1':'item1','key2':'item2'}

In [56]:
d

{'key1': 'item1', 'key2': 'item2'}

In [58]:
d['key1']

'item1'

In [60]:
d['key2'] = [1,2,3]

In [62]:
d

{'key1': 'item1', 'key2': [1, 2, 3]}

In [64]:
d['key2'][1]

2

In [65]:
#these don't retain any order!

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [67]:
t[0] = 'NEW'

NameError: name 't' is not defined

In [68]:
#tuples can't be changed! Unlike lists...

### Sets

In [69]:
{1,2,3}

{1, 2, 3}

In [70]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [80]:
set([1,2,3,4,5,6,7,7]) #collection of UNIQUE elements

{1, 2, 3, 4, 5, 6, 7}

In [75]:
s={1,2,3}

In [77]:
s.add(5)

In [78]:
s

{1, 2, 3, 5}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [81]:
(1 > 2) and (2 < 3)

False

In [82]:
(1 > 2) or (2 < 3)

True

In [83]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [84]:
if 1 < 2:
    print('Yep!')

Yep!

In [85]:
if 1 < 2:
    print('yep!')

yep!

In [86]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [87]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [89]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [90]:
#prints 1st true and that's it.

## for Loops

In [91]:
seq = [1,2,3,4,5]

In [92]:
for item in seq:
    print(item)

1
2
3
4
5

In [93]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [94]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [95]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [97]:
range(5) #results in object

range(0, 5)

In [98]:
for i in range(5):
    print(i)

0
1
2
3
4

In [99]:
list(range(5)) #convert to list

[0, 1, 2, 3, 4]

## list comprehension

In [102]:
x = [1,2,3,4]

In [103]:
out = [] #empty
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [107]:
out = [item**2 for item in x] #what you want in list

In [108]:
print(out)

[1, 4, 9, 16]

## functions

In [118]:
def my_func(param1='default'):
    """
    Docstring goes here.
    Really long comment.
    """
    print(param1)

In [119]:
my_func #shift+tab for doctring info

In [120]:
my_func

In [121]:
my_func()

default

In [112]:
my_func('new param')

new param

In [113]:
my_func(param1='new param')

new param

In [114]:
def square(x):
    return x**2

In [115]:
out = square(2)

In [116]:
print(out)

4

## lambda expressions

In [127]:
def times2(var):
    return var*2

In [128]:
times2(2)

4

In [130]:
def times2(var): return var*2 
#Get rid of DEF/RETURN and the name of func...

In [132]:
t = lambda var: var*2

In [133]:
t(2)

4

## map and filter

In [124]:
seq = [1,2,3,4,5]

In [125]:
map(times2,seq) #pass in func then sequence

In [126]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [134]:
filter(lambda item: item%2 == 0,seq) 
#filter out elemtns from sequece

In [136]:
list(filter(lambda item: item%2 == 0,seq)) #conditional

[2, 4]

## methods

In [137]:
st = 'hello my name is Sam'

In [138]:
st.lower()

'hello my name is sam'

In [139]:
st.upper()

'HELLO MY NAME IS SAM'

In [144]:
st.split() #default = white space

['hello', 'my', 'name', 'is', 'Sam']

In [145]:
tweet = 'Go Sports! #Sports'

In [146]:
tweet.split('#') #creates list

['Go Sports! ', 'Sports']

In [147]:
tweet.split('#')[1]

'Sports'

In [150]:
d = {'key1': 'item1', 'key2': 'item2'}

In [151]:
d

{'key1': 'item1', 'key2': 'item2'}

In [152]:
d.keys()

dict_keys(['key1', 'key2'])

In [153]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [165]:
lst = [1,2,3]

In [166]:
lst.pop() #last item

3

In [167]:
lst

[1, 2]

In [168]:
lst.append('new')

In [169]:
lst

[1, 2, 'new']

In [170]:
'x' in [1,2,3]

False

In [172]:
'x' in ['x','y','z']

True

In [174]:
x=[(1,2),(3,4),(5,6)]

In [176]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [177]:
for (a,b) in x:
    print(a)

1
3
5

# Great Job!